{% extends 'dummy.html' %}

{% block title %}
    <title>Home Page</title>
{% endblock %}

{% block body_block %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header bg-danger text-white">
                        <h1 class="text-center">Change Password</h1>
                    </div>
                    <div class="card-body">
                        <form method="POST">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="password">New Password:</label>
                                <input type="password" name="password" id="password" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label for="confirm_password">Confirm Password:</label>
                                <input type="password" name="confirm_password" id="confirm_password" class="form-control" required>
                            </div>
                            <button type="submit" class="btn btn-danger btn-block">Change Password</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
