{% extends 'dummy.html' %}

{% block title %}
    <title>Home Page</title>
    <style>
        /* Style for container */
        .container {
            max-width: 600px;
            margin: 20px auto;
            padding: 20px;
            background-color: #f7f7f7;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        /* Style for form */
        form {
            margin-top: 20px;
        }

        label {
            display: block;
            font-weight: bold;
            margin-bottom: 5px;
        }

        input[type="text"],
        input[type="password"] {
            width: 100%;
            padding: 8px;
            border-radius: 4px;
            border: 1px solid #ccc;
            margin-bottom: 15px;
            box-sizing: border-box;
        }

        input[type="submit"] {
            padding: 10px 20px;
            background-color: #007bff;
            color: #fff;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        input[type="submit"]:hover {
            background-color: #0056b3;
        }
    </style>
{% endblock %}

{% block body_block %}
    <div class="container">
        <h1>Reset Password</h1>
        <form method="POST">
            {% csrf_token %}
            <label for="un">Username</label>
            <input type="text" name="un" id="un"><br><br>

            <label for="pw">Password</label>
            <input type="password" name="pw" id="pw"><br><br>

            <input type="submit" style="background-color: #dc3545;" value="Reset">
        </form>
    </div>
{% endblock %}
